body {
  background-image: url('../images/myself.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: right;
}
.jumbotron{
  opacity: 0.9;
}

@media (max-width: 600px){
  body {
    background-image: url('../images/myself_mobi.jpg');
  }
}