{% extends "base.html" %}
{% block content %}

<div class="container">

    <h1 align="center" >Secret Santa</h1>
<Br>
    <div class="jumbotron">
<div class="alert alert-warning" role="alert">
  ჰოუ, ჰოუ, ჰოუ!!! ძვირფასო ნანიკო,მე შენი სეკრეტ სანტა ვარ.მინდა საახალწლო საჩუქრის შერჩევაში დამეხმარო და მომწერო წერილი შენს შესახებ
</div>
    <form method="POST" class="form-group" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}


    <div class="form-group">

     <h5>{{ form.letter_text.label(class="col-form-label") }}</h5>
     {{ form.letter_text(class="form-control",rows="8") }}


</div>

    {{ form.submit(class="btn btn-primary mb-2") }}

</form>
</div>
</div>
{% endblock %}